version: '3.8'
services:
  expense_tracker:
    build:
      context: ./
    ports:
      - "8080:8080"
      - "10400:10400"
    depends_on:
      - expense_tracker_postgres
      - rabbitmq
    env_file:
      - .env
    networks:
      - server-network

  expense_tracker_postgres:
    image: postgres
    container_name: expense_tracker_postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - expense_tracker_postgres_data:/var/lib/postgresql/data
    networks:
      - server-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
      - ./rabbitmq/rabbitmq.config:/etc/rabbitmq/rabbitmq.config
    networks:
      - server-network

networks:
  server-network:
    driver: bridge

volumes:
  expense_tracker_postgres_data: