version: '3.8'
services:
  expense_tracker:
    build:
      context: ./
    ports:
      - "8080:8080"
    depends_on:
      - expense_tracker_postgres
    env_file:
      - .env

  expense_tracker_postgres:
    image: postgres
    container_name: expense_tracker_postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - expense_tracker_postgres_data:/var/lib/postgresql/data

networks:
  server-network:
    external: true

volumes:
  expense_tracker_postgres_data: