#name: CD
#on:
#  push:
#    branches:
#      - main
#
#env:
#  IMAGE_NAME: heitor582/planets-and-probes
#jobs:
#  tests:
#    name: Tests runner
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        java_version: [ '17' ]
#    steps:
#      - uses: actions/checkout@v1
#      - name: Set JDK
#        uses: actions/setup-java@v1
#        with:
#          java-version: '${{matrix.java_version}}'
#      - name: Run application tests
#        run: ./gradlew test
#
#  build:
#    name: Build runner
#    needs: tests
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        java_version: [ '17' ]
#    steps:
#      - uses: actions/checkout@v1
#      - name: Set JDK
#        uses: actions/setup-java@v1
#        with:
#          java-version: '${{matrix.java_version}}'
#      - name: Validate Gradle wrapper
#        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
#      - name: Application build
#        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
#        with:
#          arguments: clean build -x test
#      - name: Set BUILD_TAG
#        run: |
#          echo BUILD_TAG=$(echo ${{ github.head_ref || github.ref_name }} | sed "s,/,_,g")-${{ github.run_number }} >> $GITHUB_ENV
#      - name: Print BUILD_TAG defined
#        run: |
#          echo "Branch     ---> ${{ github.head_ref || github.ref_name }}"
#          echo "Run number ---> ${{ github.run_number }}"
#          echo "Tag        ---> ${{ env.BUILD_TAG }}"
#      - name: Log in to DockerHub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKER_HUB_USER }}
#          password: ${{ secrets.DOCKER_HUB_PWD }}
#      - name: Build & push docker image
#        uses: docker/build-push-action@v3
#        with:
#          context: .
#          push: true
#          build-args: VERSION=${{ env.BUILD_TAG }}
#          tags: ${{ env.IMAGE_NAME }}:${{ env.BUILD_TAG }}